<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikacja Biblioteki</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>Witamy w Aplikacji Biblioteki!</h1>
    <!-- Wyświetlanie wiadomości, jeśli jest dostępna -->
    <div th:if="${result != null}">
        <h2 th:text="${result}"></h2>
    </div>
    <nav>
        <ul>
            <li><a href="#books">Książki</a></li>
            <li><a th:href="@{/register}">Rejestracja</a></li> <!-- Link do rejestracji -->
            <li><a th:href="@{/login}">Logowanie</a></li> <!-- Link do logowania -->
        </ul>
    </nav>
</header>

<main>
    <section id="books">
        <h2>Lista Książek</h2>
        <ul id="book-list">
            <!-- Wyświetlanie listy książek -->
            <li th:each="book : ${books}">
                <span th:text="${book.title}">Tytuł</span> -
                <span th:text="${book.author}">Autor</span> -
                <span th:text="${book.isbn}">ISBN</span>
            </li>
        </ul>
    </section>

    <section id="register">
        <h2>Rejestracja</h2>
        <!-- Formularz rejestracji -->
        <form th:action="@{/register}" th:object="${userdto}" method="post">
            <div>
                <label for="username">Nazwa użytkownika:</label>
                <input type="text" id="username" placeholder="Nazwa użytkownika" required th:field="*{username}">
            </div>
            <div>
                <label for="password">Hasło:</label>
                <input type="password" id="password" placeholder="Hasło" required th:field="*{password}">
            </div>
            <div>
                <label for="confirmPassword">Potwierdź hasło:</label>
                <input type="password" id="confirmPassword" placeholder="Potwierdź hasło" required th:field="*{confirmPassword}">
            </div>
            <button type="submit">Zarejestruj się</button>
        </form>
        <div id="registration-message"></div>
    </section>
</main>

<footer>
    <p>&copy; 2024 Aplikacja Biblioteki</p>
</footer>

<script src="script.js"></script>
</body>
</html>
